.add-book-style {
    padding-left: 450px;
}

.picture-array {
    padding-top: 10px;
}

.sub-category-padding {
    padding-top: 10px;
}

.header-two-style {
    padding-left: 600px;
    padding-top: 20px;
}

.delete-book-form {
    padding-left: 600px;
}

.input-style {
    width: 40rem;
}